// COLORS
$primary-color: #354259;

$secondary-color: #404e66;

$white-color: #C2DED1;

$dark-grey: #CDC2AE;
$light-grey: #354259;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
